In [2]:
# Imports
import pandas as pd

In [19]:
# Load data
labse = pd.read_csv('LaBSE_scores.csv')
clean = pd.read_csv('trainval_set_v3.tsv', delimiter='\t')

In [29]:
# Merge data to get only the training sentences and view dataframe
merged = clean.merge(labse, how='left', left_on='id', right_on='id')
merged

              id     score
0       14466574  0.878513
1       23812236  0.617198
2       11834247  0.868299
3       30649221  0.923940
4       25824079  0.805234
...          ...       ...
711715  22715788  0.939928
711716   3821855  0.857187
711717  20622458  0.800515
711718  36160198  0.921195
711719   5426867  0.886510

[711720 rows x 2 columns]

In [31]:
# Define set of quantiles and get their values
quantiles = [0.2, 0.4, 0.6, 0.8]
quantile_values = merged['score'].quantile(quantiles)
quantile_values

0.2    0.832769
0.4    0.885565
0.6    0.913940
0.8    0.939058
Name: score, dtype: float64

In [13]:
# Generate the quantile dataframes
LABSE_above_quantile_20 = merged.loc[merged['score'] > 0.837948]
LABSE_above_quantile_40 = merged.loc[merged['score'] > 0.887518]
LABSE_above_quantile_60 = merged.loc[merged['score'] > 0.913971]
LABSE_above_quantile_80 = merged.loc[merged['score'] > 0.937491]

In [15]:
# Save the dataframes as tsv
LABSE_above_quantile_20.to_csv('LABSE_above_quantile_20.tsv', sep='\t', index=False)
LABSE_above_quantile_40.to_csv('LABSE_above_quantile_40.tsv', sep='\t', index=False)
LABSE_above_quantile_60.to_csv('LABSE_above_quantile_60.tsv', sep='\t', index=False)
LABSE_above_quantile_80.to_csv('LABSE_above_quantile_80.tsv', sep='\t', index=False)