In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../datasets/trainval_set_v3.tsv", delimiter="\t")
similarities = pd.read_csv("../datasets/LASER_similarity.tsv")
combined = data.merge(similarities, on="id", how="inner")

In [3]:
combined = combined[["id", "score"]]
combined

              id     score
0       14466574  0.898581
1       23812236  0.567550
2       11834247  0.715229
3       30649221  0.844954
4       25824079  0.632475
...          ...       ...
711715  22715788  0.918971
711716   3821855  0.869424
711717  20622458  0.709278
711718  36160198  0.900981
711719   5426867  0.912120

[711720 rows x 2 columns]

In [4]:
# Calculate quantiles
quantiles = [0.2, 0.4, 0.6, 0.8]  # 20th, 40th, 60th, and 80th percentiles
quantile_values = combined['score'].quantile(quantiles)

In [5]:
quantile_values

0.2    0.753974
0.4    0.827883
0.6    0.870952
0.8    0.908012
Name: score, dtype: float64

Threshold = 20th percentile, so remove the first 20% of the data, so everything below threshold = 0.762666

In [6]:
first_20_percent_removed = combined.loc[combined["score"] > 0.753974]
first_20_percent_removed

              id     score
0       14466574  0.898581
3       30649221  0.844954
5       29354410  0.828576
6       22229922  0.906971
7        4802488  0.943593
...          ...       ...
711712   3092080  0.870473
711715  22715788  0.918971
711716   3821855  0.869424
711718  36160198  0.900981
711719   5426867  0.912120

[569464 rows x 2 columns]

In [7]:
first_20_percent_removed.to_csv("LASER_above_quantile_20.tsv")

In [8]:
first_40_percent_removed = combined.loc[combined["score"] > 0.827883]
first_40_percent_removed
first_40_percent_removed.to_csv("LASER_above_quantile_40.tsv")

In [9]:
first_60_percent_removed = combined.loc[combined["score"] > 0.870952]
first_60_percent_removed
first_60_percent_removed.to_csv("LASER_above_quantile_60.tsv")

In [10]:
first_80_percent_removed = combined.loc[combined["score"] > 0.908012]
first_80_percent_removed
first_80_percent_removed.to_csv("LASER_above_quantile_80.tsv")