In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../datasets/medical_corpus_clean_preprocessed_v2.tsv")
similarities = pd.read_csv("../datasets/LASER_similarity.tsv")
combined = data.merge(similarities, on="id", how="inner")

In [4]:
combined = combined[["id", "score"]]
combined

              id     score
0       14466574  0.898581
1       23812236  0.567550
2       11834247  0.715229
3       30649221  0.844954
4       25824079  0.632475
...          ...       ...
842949   3821855  0.869424
842950  20622458  0.709278
842951  36160198  0.900981
842952   5426867  0.912120
842953   3548782  0.470301

[842954 rows x 2 columns]

In [5]:
# Calculate quantiles
quantiles = [0.2, 0.4, 0.6, 0.8]  # 20th, 40th, 60th, and 80th percentiles
quantile_values = combined['score'].quantile(quantiles)

In [6]:
quantile_values

0.2    0.766260
0.4    0.839737
0.6    0.881355
0.8    0.916037
Name: score, dtype: float64

Threshold = 20th percentile, so remove the first 20% of the data, so everything below threshold = 0.762666

In [7]:
first_20_percent_removed = combined.loc[combined["score"] > 0.766260]
first_20_percent_removed

              id     score
0       14466574  0.898581
3       30649221  0.844954
5       30513235  0.924158
6       29354410  0.828576
7       22229922  0.906971
...          ...       ...
842947  22715788  0.918971
842948  19426515  0.858833
842949   3821855  0.869424
842951  36160198  0.900981
842952   5426867  0.912120

[674365 rows x 2 columns]

In [8]:
first_20_percent_removed.to_csv("LASER_above_quantile_20.tsv")

In [9]:
first_40_percent_removed = combined.loc[combined["score"] > 0.839737]
first_40_percent_removed
first_40_percent_removed.to_csv("LASER_above_quantile_40.tsv")

In [10]:
first_60_percent_removed = combined.loc[combined["score"] > 0.881355]
first_60_percent_removed
first_60_percent_removed.to_csv("LASER_above_quantile_60.tsv")

In [11]:
first_80_percent_removed = combined.loc[combined["score"] > 0.916037]
first_80_percent_removed
first_80_percent_removed.to_csv("LASER_above_quantile_80.tsv")